.card {
  background-color: white;
  margin-left: 3rem;
  transform-style: preserve-3d;
  height: 90vh;
  width: 23rem;
  border-radius: 30px;
  padding: 1rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneaker > img {
  width: 8rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle {
  width: 9rem;
  height: 9rem;
  background: linear-gradient(
    to right,
    rgba(8, 83, 156, 0.75),
    rgba(4, 193, 240, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.circle1 {
  width: 9rem;
  height: 9rem;
  background: linear-gradient(
    to right,
    rgba(23, 236, 4, 0.75),
    rgba(2, 252, 127, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.circle2 {
  width: 9rem;
  height: 9rem;
  background: linear-gradient(
    to right,
    rgba(224, 75, 6, 0.75),
    rgba(221, 245, 4, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info > h1 {
  margin-left: 0rem;
  margin-top: 2.5rem;
  font-size: 25px;
  transition: all 0.75s ease-out;
  font-weight: bold;
}
.info > h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.sizes {
  display: flex;
  justify-content: center;
  transition: all 0.75s ease-out;
}

.sizes > button {
  padding: 0.7rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}

button.active {
  background: #585858;
  color: white;
}

.purchase {
  margin-top: 2rem;
  transition: all 0.75s ease-out;
}
.purchase > button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}

.cardstack {
  display: flex;
  align-items: center;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
